stages:
  - build-and-test

# see https://hub.docker.com/_/gcc/ for available images
image: gcc:latest

variables:
  CI_BUILD_TYPE: "RelWithDebInfo"


latest-gcc-build-and-test:
  interruptible: true
  when: manual
  stage: build-and-test
  before_script:
    - apt update && apt -y install cmake
  script:
    - mkdir build
    - cd build
    - cmake ..
    - cmake --build . --config $CI_BUILD_TYPE -j4
    - ctest --output-on-failure --verbose -C $CI_BUILD_TYPE
  artifacts:
    when: on_failure
    expire_in: 3 days
    paths:
      - build/
